<div class="error-page-container">
    <div class="error-page-content text-center">
        <div id="speech-bubble" class="bounce">
            <span><span class="pull-left">4</span>
                <div class="emoji  emoji--sad">
                    <div class="emoji__face">
                        <div class="emoji__eyebrows"></div>
                        <div class="emoji__eyes"></div>
                        <div class="emoji__mouth"></div>
                    </div>
                </div><span class="pull-left">4</span>
            </span>
        </div>
        <h1>Something went wrong!</h1>
        <p>Please refresh the page or go back to the <a href="/">Home Page.</a> </p>
    </div>
</div>