<h1 id="login_heading" class="text-center">Login To Easily</h1>
<form action="/login" id="login_form" class="rounded-4 p-5 mt-4" method="post">
    <% if(errorMessage != '' ){ %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button id="login_btn" type="submit" class="btn btn-primary">Login</button>
            <p id="login_text">Don't have an account? <a href="/register">Create Account</a></p>
            <div id="demo_credentials">
            <p>Email : test@test.com</p>
            <p>Password : Test@1234</p>
            <p>Note : Create account with valid email address to get the welcome message on mail.</p>
            </div>
</form>