<h1 class="text-center">Post A New Job</h1>
<form action="/postjob" class="register-form mt-5 shadow-lg rounded-5 p-5 w-50" method="post">
    <div class="mb-3">
        <label for="jobCatagory" class="form-label" required>Catagory</label>
        <input type="text" class="form-control" id="jobCatagory" name="jobCatagory">
    </div>
    <div class="mb-3">
        <label for="jobDesignation" class="form-label" required>Title</label>
        <input type="text" class="form-control" id="jobDesignation" name="jobDesignation">
        <input type="hidden" class="form-control" id="id" name="id">
    </div>
    <div class="mb-3">
        <label for="companyName" class="form-label" required>Company</label>
        <input type="text" class="form-control" id="companyName" name="companyName">
    </div>
    <div class="mb-3">
        <label for="jobLocation" class="form-label" required>Location</label>
        <input type="text" class="form-control" id="jobLocation" name="jobLocation">
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label" required>Salary</label>
        <input type="text" class="form-control" id="salary" name="salary">
    </div>
    <div class="mb-3">
        <label for="skillSet" class="form-label" required>Required Skills</label>
        <input type="text" class="form-control" id="skillSet" name="skillSet">
    </div>
    <div class="mb-3">
        <label for="numberOfOpenings" class="form-label" required>Number Of Openings</label>
        <input type="number" class="form-control" id="numberOfOpenings" name="numberOfOpenings">
    </div>
    <div class="mb-3">
        <label for="jobOverView" class="form-label" required>Job Overview</label>
        <textarea class="form-control" rows="5" id="jobOverView" name="jobOverView"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3 px-5"><b>Upload</b></button>
</form>