<div class="error-page">
    <div>
        <h1 data-h1='400'>400</h1>
        <p data-p='BAD REQUEST'>BAD REQUEST</p>
        <h1 data-h1='401'>401</h1>
        <p data-p='UNAUTHORIZED'>UNAUTHORIZED</p>
        <h1 data-h1='403'>403</h1>
        <p data-p='FORBIDDEN'>FORBIDDEN</p>
        <h1 data-h1="Unauthorized">Unauthorized</h1>
        <p data-p="You must have a recruiter account to post jobs.">You must have a recruiter account to post jobs.</p>
        <h1 data-h1='500'>500</h1>
        <p data-p='SERVER ERROR'>SERVER ERROR</p>
    </div>
</div>
<div id="particles-js"></div>
<a href="#" class="back">GO BACK</a>